.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  animation: spin 20s linear infinite;
}

@media (prefers-reduced-motion: reduce) {
  .App-logo {
    animation: none;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: clamp(1rem, 2vmin, 2rem);
  color: #fff;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
